@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: oklch(var(--p));
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: oklch(var(--pf));
  }
}